.notification {
    color: green;
    background: rgb(255, 255, 255);
    font-size: 15px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.error {
    color: rgb(139, 53, 53);
    background: rgb(255, 255, 255);
    font-size: 15px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}